body {
  background: none repeat scroll 0 0 #ffffff;
  font: 12px/18px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  color: #333333; }

a {
  color: #333333;
  text-decoration: none; }

#wrapper {
  width: 940px;
  margin: 0 auto;
  position: relative; }

#header {
  overflow: hidden;
  width: 940px;
  height: 85px;
  background: url("/images/bg.jpg") no-repeat scroll 50% 100% transparent; }
  #header h2 {
    float: left;
    margin: 5px 0 0 0px; }
  #header ul {
    display: inline;
    float: right;
    margin: 40px 45px 0 0; }
  #header li {
    display: inline; }
    #header li a {
      float: left;
      margin-left: 30px;
      padding: 0;
      text-decoration: none; }
      #header li a:hover {
        color: black; }

#content {
  width: 940px;
  margin: 15px auto;
  text-align: center;
  position: relative; }

#slider {
  width: 940px;
  height: 400px;
  display: block;
  position: relative;
  overflow: hidden; }
  #slider #slideshow {
    position: relative;
    height: 400px;
    overflow: hidden; }
    #slider #slideshow img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8; }
    #slider #slideshow img.active {
      z-index: 10; }
    #slider #slideshow img.last-active {
      z-index: 9; }

#gallery {
  /* CSS3 Box Shadow */
  -moz-box-shadow: 0 0 3px #AAAAAA;
  -webkit-box-shadow: 0 0 3px #AAAAAA;
  box-shadow: 0 0 3px #AAAAAA;
  /* CSS3 Rounded Corners */
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid white;
  background: url(/images/gallery/panel.jpg) repeat-x bottom center white;
  /* The width of the gallery */
  width: 938px;
  overflow: hidden; }
  #gallery #slides {
    /* This is the slide area */
    height: 400px;
    /* jQuery changes the width later on to the sum of the widths of all the slides. */
    width: 920px;
    overflow: hidden; }
    #gallery #slides .slide {
      float: left; }
  #gallery #menu {
    /* This is the container for the thumbnails */
    height: 45px; }
    #gallery #menu ul {
      margin: 0px;
      padding: 0px; }
    #gallery #menu li {
      /* Every thumbnail is a li element */
      width: 60px;
      display: inline-block;
      list-style: none;
      height: 45px;
      overflow: hidden; }
    #gallery #menu li.inact:hover {
      /* The inactive state, highlighted on mouse over */
      background: url(/images/gallery/pic_bg.png) repeat; }
    #gallery #menu li.act, #gallery #menu li.act:hover {
      /* The active state of the thumb */
      background: url(/images/gallery/active_bg.png) no-repeat; }
    #gallery #menu li.act a {
      cursor: default; }
    #gallery #menu .fbar {
      /* The left-most vertical bar, next to the first thumbnail */
      width: 2px;
      background: url(/images/gallery/divider.png) no-repeat right; }
    #gallery #menu li a {
      display: block;
      background: url(/images/gallery/divider.png) no-repeat right;
      height: 35px;
      padding-top: 10px; }
    #gallery #menu a img {
      border: none; }

#footer {
  overflow: hidden;
  width: 940px;
  margin-top: 25px;
  padding: 10px; }
  #footer p {
    padding: 10px 0;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 20px; }
  #footer #jq-menu {
    width: 300px;
    padding: 10px;
    margin: 25px auto;
    display: block; }
    #footer #jq-menu img {
      padding: 0 10px; }
