$main-color : #333;
$hover-color: #000;
$page-width:  940px;

body {
  background: none repeat scroll 0 0 #ffffff;
  font: 12px/18px "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  color: $main-color;
}

a {
  color: $main-color;
  text-decoration: none;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
  position: relative;
}

@import "header";

@import "slider";

@import "footer";