<div id="homeCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
        <img src="/assets/carousel/slider2.png" alt="" />
	<div class="carousel-caption">
	  <h4>First Thumbnail Label</h4>
	  <p>First thumbnail description ...</p>
	</div>
    </div>
    <div class="item">
        <img src="/assets/carousel/slider3.png" alt="" />
	<div class="carousel-caption">
	  <h4>Second Thumbnail Label</h4>
	  <p>Second thumbnail description ...</p>
	</div>
    </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
</div>
