#header {
  overflow:hidden; width:$page-width; height:85px; background:url("/assets/bg.jpg") no-repeat scroll 50% 100% transparent;

  h2 { float:left; margin:5px 0 0 0px; }

  nav { float:right; margin:25px 45px 0 0; }
}