#header {
    overflow: hidden;
    width: $page-width;
    height: 85px;
    background: url("/assets/bg.jpg") no-repeat scroll 50% 100% transparent;

    h2 {
       float: left;
       margin: 5px 0 0 0px;
    }

    ul {
       display: inline;
       float: right;
       margin: 40px 45px 0 0;
    }

    li {
       display: inline;

       a {
       	 float: left;
	 margin-left: 30px;
	 padding: 0;
	 text-decoration: none;

         &:hover { color: $hover-color; }
       }
    }
}