<p>
  Text w stopce
</p>

<div id='jq-menu'>
  <a href='/' title=''>
    <img src='/assets/docks/twitter.png' alt='' title='' />
  </a>
  <a href='/' title=''>
    <img src='/assets/docks/twitter.png' alt='' title='' />
  </a>
  <a href='/' title=''>
    <img src='/assets/docks/twitter.png' alt='' title='' />
  </a>
</div>
