<p>
  Text w stopce
</p>

<div id='menu'>
  <a href='/' title=''>
    <img src='images/docks/twitter.png' alt='' title='' />
  </a>
  <a href='/' title=''>
    <img src='images/docks/twitter.png' alt='' title='' />
  </a>
  <a href='/' title=''>
    <img src='images/docks/twitter.png' alt='' title='' />
  </a>
</div>
