<h2><a href=""><img src="images/logob.jpg" width="160" height="65" /></a></h2>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/">Who we are</a></li>
  <li><a href="/">What we do</a></li>
  <li><a href="/">How we do it</a></li>
  <li><a href="/">Why choose us</a></li>
  <li><a href="/">See our work</a></li>
</ul>
