<ul>
  <li>
    <%= link_to("/") do %>
      <b>
        Home
        <span>getting started</span>
      </b>
    <% end %>
  </li>
  <li>
    <%= link_to("/") do %>
      <b>
        About us
        <span>our history</span>
      </b>
    <% end %>
  </li>
  <li>
    <%= link_to("/") do %>
      <b>
        Portfolio
        <span>projects gallery</span>
      </b>
    <% end %>
  </li>
  <li>
    <%= link_to("/") do %>
      <b>
        Contacts
        <span>mail us</span>
      </b>
    <% end %>
  </li>
</ul>
