<div class="coda-slider-wrapper">
  <div id="coda-slider" class="coda-slider preload">
      <div class="panel">
        <div class="panel-wrapper">
          <img src="images/slider/slider2.png"/>
        </div>
      </div>
      <div class="panel">
        <div class="panel-wrapper">
          <img src="images/slider/slider3.png"/>
        </div>
      </div>
    </div>
</div>
