<!DOCTYPE html>
<html>
  <head>
    <title>Heed</title>
    <%= stylesheet_link_tag "reset.css", "main.css" %>
    <%= javascript_include_tag "jquery-1.6.2.min.js", "application.js" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header">
      <h2><a href=""><img src="images/logo.jpg" width="72" height="65" /></a></h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Who we are</a></li>
        <li><a href="/">What we do</a></li>
        <li><a href="/">How we do it</a></li>
        <li><a href="/">Why choose us</a></li>
        <li><a href="/">See our work</a></li>
      </ul>
    </div>

    <div class="wrapper">
      <%= yield %>
    </div>

  </body>
</html>
